html, body{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  width: 100%;
}

.arrow{
  text-decoration: none;
}
.arrow-black{
    color: black;
}
.arrow-white{
    color: white;
}

.blog h3{
  font-family: 'Open Sans';
  font-size: 1.5em;
}

.card {
  background-color: white;
  background: #fff;
  border-radius: 2px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card h1{
  font-family: 'Open Sans';
  font-size: 2.5em;
}
.card h2 {
  font-family: 'Open Sans';
  font-size: 1.5em;
}

.card-intro{
}
.card-intro-bio{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12pt;
  padding: 0px 10px;
  margin-bottom: 30px;
  text-align: center;
}
.card-intro-info{
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 10px 0px;
}
.card-intro-info li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}
.card-intro-info a{
    color: black;
}
.card-intro-info a:hover{
    color: grey;
}

.card-projects{
  z-index: 1;
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.return{
  text-decoration: none;
  color: #606060;
  position: fixed;
  left: 20px;
  top: 20px;
  transition: 0.5s;
}
.return:hover{
  color: black;
}

#particles-js canvas{
    margin-top: 100vh;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  background: url('images/bg2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.projects{
  background-color: #13111b;
}
.blog{
  background: linear-gradient(270deg, #f9f1f1, #f9f9f9, #ffffff, #fbf7f5);
  background-size: 800% 800%;
  animation: bgshift 5s ease infinite;
}
.animate-1 {
  position: relative;
  font-weight: 900;
  font-size: 4em;
}
.animate-1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.animate-1 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
.animate-2{
}
.animate-3{
}
.clear{
  opacity: 0;
}
.post-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(270deg, #f9f1f1, #f9f9f9, #ffffff, #fbf7f5);
  background-size: 800% 800%;
  animation: bgshift 10s ease infinite;
}
.post-container img{
  max-width: 100%;
  border: 1px solid grey;
}

.post-title{
  font-size: 30pt;
  font-family: 'Open Sans';
  font-weight: 500;
  display: inline;
  line-height: 1.6;
}

.post h1,h2,h3,h4{
  font-weight: 600;
  font-family: 'Roboto'
}

.post-title a{
  text-decoration: none;
  color: black;
}

.post-author{
  font-family: 'Open Sans';
  font-size: 0.9em;
}

.post-meta{
  display: inline;
  font-size: 0.8em;
  color: grey;
  float: right;
}

.post-content{
  font-size: 1.0em;
}

.content-link {
  text-decoration: none;
  color: black;
  margin: 15px;
}
.post{
  padding: 60px 80px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 60%;
  font-family: 'Roboto';
  line-height: 175%;
  background: white;
}
.post p{
  font-size: 14pt;
}
.post-date{
  font-family: 'Roboto';
  color: #8e8e8e;
  display: inline;
}
.post-excerpt{
  padding:10px;
  border-left: 1px solid transparent;
  transition: 0.3s;
  font-weight: 300;
  border-radius: 2px;
}
.post-excerpt h3{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 2.0em;
}
.post-excerpt:hover{
  border-left: 1px solid #3253BE;
  background-color: #F5F5F5;
}

.cPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes bgshift {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

@media screen and (max-width: 700px) {

  #particles-js canvas{
    opacity: 0;
  }
  .intro{
    background-color: #fcf8e5;
    background-image: none;
  }
  .card{
    width: 90%;
    margin: 0;
    font-size: 8pt;
  }
  .post-excerpt h3{
    font-family: 'Roboto';
    font-size: 1.5em;
  }
  .post-container{
    background: white;
  }
  .post{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
    width: 90%;
    line-height: 2;
    box-shadow: none;
  }
  .post ul{
    font-size: 12pt;
  }
  .post center{
    font-size: 10pt;
  }
  .post img{
    width: 100%;
  }
  .post-title{
    font-size: 20pt;
  }
  .post-date{
    font-size: 10pt
  }
  .return{
    left: 5px;
    top: 5px;
  }
}
