html, body{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.archive-container{
}
.arrow{
  text-decoration: none;
  color: black;
}
.cPhoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.return{
  text-decoration: none;
  color: #606060;
  position: fixed;
  left: 20px;
  top: 20px;
  transition: 0.5s;
}
.return:hover{
  color: black;
}
.content{
  background-color: #F8F8FF;
  display: flex;
  flex-direction: column;
}
.blog-main-container{

  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, #f9f1f1, #f9f9f9, #ffffff, #fbf7f5);
  background-size: 800% 800%;

  animation: bgshift 10s ease infinite;
}
.blog-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(270deg, #f9f1f1, #f9f9f9, #ffffff, #fbf7f5);
  background-size: 800% 800%;

  animation: bgshift 10s ease infinite;
}
.blog h3{
  font-family: 'Montserrat';
  font-size: 1.5em;
}
.blog{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  margin: 10px;
}
.sidebar{
  width: 100%;
  position: fixed;
  top:0;
  background-color: #3253BE;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.nav-list h1{
  font-family: 'Sedgwick Ave';
  color: #F8F8FF;
  margin: 10px 15px;
}
.nav-link {
  display: inline-block;
  text-decoration: none;
  color: #F8F8FF;
  font-family: 'Raleway';
  width: 100%;
  height: 100%;
  margin: 0px 15px;
}

.intro {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('images/bg2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.intro-card{
  background-color: white;
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  padding: 15px;
  opacity:0;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.intro-card h1{
  font-family: 'Montserrat';
  font-size: 2.5em;
}
.intro-card img{
  width: 120px;
  border-radius:120px;
}
.intro-card p {
  font-family: 'Raleway';
  font-size: 12pt;
  padding: 0px 10px;
  margin-bottom: 30px;
  text-align: center;

}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.info{
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 10px 0px;
}
.info li {
    display: inline-block;
    padding-right: 20px;
}
.info a{
    color: black;
}
.info a:hover{
    color: grey;
}
.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 4em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letters {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}
.ml11{
  opacity: 0;
}
.ml12{
  opacity: 0;
}
.post-container{
  width:70%;
  padding: 50px;
  font-family: 'Raleway';
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 50px;
  margin-left: 50px;
  line-height: 200%;
  box-shadow: 3px 3px 6px #888888;
  border: 1px solid lightgrey;
}

.post-container img{
  max-width: 100%;
  border: 2px solid black;
}

.post-title{
  font-size: 30pt;
  font-family: 'Montserrat';
  font-weight: 500;
  display: inline;
  line-height: 1.6;
}

.post h1,h2,h3,h4{
  font-weight: 600;
}

.post-title a{
  text-decoration: none;
  color: black;
}

.post-author{
  font-family: 'Raleway'
  font-size: 0.9em;
}

.post-meta{
  display: inline;
  font-size: 0.8em;
  color: grey;
  float: right;
}

.post-content{
  font-size: 1.0em;
}

.content-link {
  text-decoration: none;
  color: black;
  margin: 15px;
}
.post{
  padding: 60px 80px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 60%;
  font-family: 'Lora';
  line-height: 175%;
  background: white;
}
.post p{
  font-size: 14pt;
}
.post-date{
  font-family: 'Raleway';
  color: #8e8e8e;
  display: inline;
}
.post-excerpt{

  padding:10px;
  border-left: 1px solid transparent;
  transition: 0.3s;
}
.post-excerpt h1{
  font-family: 'Montserrat';
  font-weight: 400;
}
.post-excerpt:hover{
  border-left: 1px solid #3253BE;
}

@keyframes bgshift {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
